.node{
    background-color: aliceblue;
    border: 2px #282c34 solid;
    width: 30px;
    height: 30px;
    position: absolute;
    user-drag: none;
    user-select: none;

    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}


.node-visited{
    border: 2px #FFFFFF solid;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #282c34;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.node-fin{
    border: 2px #282c34 solid;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: gold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.node-start{
    border: 2px #282c34 solid;
    background-color: green;
    width: 30px;
    height: 30px;
    position: absolute;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.node-end{
    border: 2px #282c34 solid;
    background-color: red;
    width: 30px;
    height: 30px;
    position: absolute;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.node-wall{
    border: 2px #282c34 solid;
    background-color: aqua;
    width: 30px;
    height: 30px;
    position: absolute;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}